* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.6;
  color: #2b2b2b;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1rem;
}

// Body

p {
  padding: 10px 0 25px 0;
}

ul {
  padding: 0;
  li {
    padding: 5px 0 0 0;
    p {
      padding: 0;
    }
  }
}

// Forms

::placeholder,
select,
[type="submit"] {
  color: $font-color;
}

// Lists

ul {
  list-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
.svg {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
}
